logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local
.env.*.local
.next
.next/
output
build
output
coverage
.cache 
.next/cache
.next/cache/webpack/client-development
turbo
turbo/cache
.pnp.*
.pnp.json
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.yarnrc.yml
.yarn-integrity
node_modules/  
.sass-cache
bower_components
.jspm-cache
.nuxt
.cache
firebase-debug.log
firebase-debug.*.log
public/hot
storage/*.key
.env.test
.env.production
.env.staging
.env.production.local
.env.staging.local
firebase.json
.firebaserc
.DS_Store
Thumbs.db
.idea/
*.iml
out/
.cache/